.instructions{
    border: 1px solid darken($off-white, 10%);
    margin: $lg auto;
    padding: $sm $lg;
    border-radius: 5px;
    width: 65%;
    h1{
        color: $off-black;
        font-size: $md;
        text-align: center;
    }
    .lifeline{
        position: relative;
        top: -3px;
    }
    .lifeline-icon{
        color: $green;
        cursor: pointer;
    }
    .browser-default{
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    img{
        width: 70%;
        height: 40%;
    }

}
@media (max-width : $md-breakpoint) {
    .instructions img{
        width: 100% !important;
        height: 100% !important;
    }
    
}